.powered-by-firepad {
  display: none !important;
}

.code-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  background-color: #11142D;
  padding: 0 !important;
  height: 550px;
  border-radius: 0 8px 8px 0;
  overflow: auto;
  width: 100%;
}

@media (max-width: 899px) {
  .code-editor {
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
  }

}

.top-editor {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  color: white;
  height: 5%;
  padding: 10px 20px;
  font-size: 18px;
  //background-color: #11142D;
}

.top-editor span {
  color: #816df6;
}

.bottom-editor {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  height: 5%;
}

.bottom-editor button {
  background-color: #5541D7;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.bottom-editor button:hover {
  filter: drop-shadow(2px 2px 1px #766EDA);
}

.bottom-editor-partner-status {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

/* -------------------------------------------------------------------------- */


.matching-question {
  margin-top: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  font-family: 'Mulish', sans-serif;
  width: 100%;
}

.matching-question h3 {
  font-size: 24px;
  font-weight: 600;
  color: #11142D;
}

.description-matching-question {
  font-size: 16px;
  color: #92929D;
  text-align: justify;
}

.example-matching-question {
  font-size: 16px;
  color: #92929D;
  margin-top: 30px;
  background-color: #F8F9FA;
  padding: 20px;
}

/* -------------------------------------------------------------------------- */



